.App{
    background-image: url("./img/postBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    padding: 20px;
}
.container{
    margin: 0 auto;
    width: 600px;
}